screen mode id:i:2
use multimon:i:0
desktopwidth:i:1920
desktopheight:i:1080
session bpp:i:32
smart sizing:i:1
dynamic resolution:i:1
winposstr:s:0,1,100,100,1700,1000
compression:i:1
keyboardhook:i:2
audiocapturemode:i:0
audiomode:i:2
videoplaybackmode:i:1
connection type:i:7
networkautodetect:i:1
bandwidthautodetect:i:1
displayconnectionbar:i:1
enableworkspacereconnect:i:0
disable wallpaper:i:0
allow font smoothing:i:1
allow desktop composition:i:1
disable full window drag:i:0
disable menu anims:i:0
disable themes:i:0
bitmapcachepersistenable:i:1
full address:s:__HOST_ADDRESS__:__RDP_PORT__
alternate full address:s:__HOST_ADDRESS__:__RDP_PORT__
username:s:__ACCOUNT_NAME__
domain:s:
prompt for credentials:i:1
promptcredentialonce:i:1
authentication level:i:0
enablecredsspsupport:i:0
negotiate security layer:i:1
gatewayusagemethod:i:0
gatewaycredentialssource:i:4
gatewayprofileusagemethod:i:0
redirectclipboard:i:1
redirectprinters:i:0
redirectcomports:i:0
redirectsmartcards:i:0
redirectwebauthn:i:0
redirectposdevices:i:0
redirectdirectx:i:1
drivestoredirect:s:
autoreconnection enabled:i:1
autoreconnect max retries:i:5
